language: node_js
node_js:
  - "7"

install:
  - npm install

before_script:
  - npm install -g gulp-cli
  - npm i -g karma-cli
  - npm install -g codecov

script:
  - gulp
  - karma start
  - npm run report-coverage

after_success:
  - codecov